@page
@model StarWarsApp.Pages.FilmsModel
@{
    ViewData["Title"] = "Films";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="text-center">
    Films
</div>