@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="vstack" style="width:100%;height:calc(100vh - 120px);">
    <img src="~/images/a long time ago.svg" style="margin:auto;" />
</div>