@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <title>Home</title>
    <link rel="stylesheet" href="~/images/css/site.css" asp-append-version="true"/>
</head>
<div class="vstack home">
    <picture>
        <source srcset="~/images/640x1136.jpg" media="(max-width: 750px)" />
        <source srcset="~/images/750x1334.jpg" media="(min-width: 750px) and (max-width: 1024px)" />
        <source srcset="~/images/1024x576.jpg" media="(min-width: 1024px) and (max-width: 1280px)" />
        <source srcset="~/images/1280x1024.jpg" media="(min-width: 1280px) and (max-width: 1366px)" />
        <source srcset="~/images/1366x768.jpg" media="(min-width: 1366px) and (max-width: 1440px)" />
        <source srcset="~/images/1440x900.jpg" media="(min-width: 1440px) and (max-width: 1536px)" />
        <source srcset="~/images/1536x864.jpg" media="(min-width: 1536px) and (max-width: 1600px)" />
        <source srcset="~/images/1600x900.jpg" media="(min-width: 1600px) and (max-width: 1680px)" />
        <source srcset="~/images/1680x1050.jpg" media="(min-width: 1680px) and (max-width: 1920px)" />
        <source srcset="~/images/1920x1080.jpg" media="(min-width: 1920px)" />
        <img srcset="
                    ~/images/640x1136.jpg
                    ~/images/750x1334.jpg
                    ~/images/1024x576.jpg
                    ~/images/1280x1024.jpg
                    ~/images/1366x768.jpg
                    ~/images/1440x900.jpg
                    ~/images/1536x864.jpg
                    ~/images/1600x900.jpg
                    ~/images/1680x1050.jpg
                    ~/images/1920x1080.jpg
                    "
            class="home-image"
        />
    </picture>
</div>
<footer class="fixed-bottom text-muted" style="background-color:#000;padding:4px;">
    <div class="container">
        <a href="https://wallpapersafari.com/w/VjXcwk">Image Source </a>
    </div>
</footer>