@page
@model StarWarsApp.Pages.PlanetsModel
@{
    ViewData["Title"] = "Planets";

}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="text-center">
    Planets
</div>
