@page
@model StarWarsApp.Pages.SpaceshipsModel
@{
    ViewData["Title"] = "Spaceships";

}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="text-center">
    Spaceships
</div>
