@page
@model StarWarsApp.Pages.SpeciesModel
@{
    ViewData["Title"] = "Species";

}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="text-center">
    Species
</div>