@page
@model StarWarsApp.Pages.VehiclesModel
@{
    ViewData["Title"] = "Vehicles";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="text-center">
    Vehicles
</div>
